
@charset "UTF-8"; 

*{
      margin: 0;
      padding: 0;
}

body {
      background-image: url('imagens/Girassol.jpg');
      background-repeat: no-repeat;
      background-position: center;
      background-size: 1900px;
}

main {
      border-radius: 10px 10px;
      background-color: rgba(243, 174, 26, 0.842);
      max-width: 800px;
      min-width: 320px;
      height: 100vh;
      margin: auto;
}
button {
      border-radius: 10px 10px;
      text-align: center;
      margin: 0px 300px;
      padding: 8px;
}

img {
     width: 100%;
}

p {   padding: 10px;
      font-size: 100px;
      text-align: center;
      color: white;
}

.segundo {
      padding: 34px;
      font-size: 50px;
      margin: -40px;
}

h1 {
      text-align: center;
      color: white;
      font-size: 5em;
}