
@charset "UTF-8"; 

*{
      margin: 0;
      padding: 0;
}

body {
      background-image: url('imagens/Girassol.jpg');
      background-repeat: no-repeat;
      background-position: center;
      background-size: 1900px;
}

main {
      border-radius: 10px 10px;
      background-color: rgba(243, 174, 26, 0.842);
      max-width: 800px;
      min-width: 320px;
      height: 100vh;
      margin: auto;
}
button {
      border-radius: 10px 10px;
      padding: 0;
      width: 160px;
      height: 40px;
      margin-top: 10px;
      margin-left: 360px;      
      margin-right: 0px;
}

img {
      max-width:300px;
      width: auto;
}

p {   padding: 20px;
      font-size: 100px;
      text-align: center;
      color: white;
}

.imagem {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
}

.segundo {
      font-size: 50px;
      margin: -40px;
}